<div class="row">
    <div class="col-md-12">
        <h2 class="">Hakkımda</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
            <li class="breadcrumb-item active">Hakkımda</li>
        </ol>
    </div>
</div>

<h2>Hakkımda</h2>
<div class="row">
    <div class="col-md-8">

        <img src="image/sehel.jpg" class="rounded float-left mr-4 " alt="SehelKeskin" width="304" height="236">
        <p class="justify-content">17 Mayıs 1995 tarihinde İstanbulda doğdum.</p>
        <br>
        <p class="justify-content">
            Şuanda 24 yaşındayım. Küçüklüğümden bu yana İstanbul'un Kağıthane
            ilçesinde yaşamaktayım. İlkokul ve ortaokul öğrenimimi Gürsel Ortaokulunda tamamladım. Lisemi
            ise İstanbul'un Ayazağa ilçesinde bulunan Mehmet Rıfat Evyap Anadolu ve Teknik lisesinde okudum.
            Ardından Cumhuriyet üniversitesi'nde lisans öğrenimimi tamamladım. Şuan ise Wissen Akademie' de
            Erp eğitimi almaktayım.
        </p>

    </div>
    <div class="col-md-4 ">
        <iframe class="float-right" width="300" height="315" src="https://www.youtube.com/embed/2cqlKR_kbKk"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>



</div>
